/**
 * Vuetify styling modifications
 */

// Theme
@import '~vuetify/src/stylus/settings/_variables.styl'
 
// @TODO: This doesn't seem to be working. Likely a bug in Vuetify. Keep it for now.
$material-light.background = #fff
$material-light.text.primary = #454749
//

$heading-font-family = 'Spectral', serif
$body-font-family = 'Raleway', sans-serif


// Required app stylings
@import '~vuetify/src/stylus/app.styl'